.App {
}

h1, h2 {
  padding: 20px;
  margin: 0;
}

h1 {
  color: #1565C0;
}

h2 {
  background-color: #1565C0;
  color: white;
}

.scorecard, .chart {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

.chart > svg {
  max-height: 225px;
}
