.Chart {
  position: relative;
}

.Chart--legend {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border: 1px solid #e0e0e0;
}

.rv-discrete-color-legend-item {
  padding: 2px 10px;
}

/* hack -- need to determine bar vs line series types */
.rv-discrete-color-legend-item:not(:last-child) .rv-discrete-color-legend-item__color {
  height: 14px;
}


.Chart .rv-xy-plot__inner {
  shape-rendering: crispedges;
}
.Chart .rv-xy-plot__series--line {
  shape-rendering: auto;
}
.Chart .rv-xy-plot__axis__line {
  stroke: none;
}
.Chart .rv-xy-plot__grid-lines__line {
  stroke: rgba(0, 0, 0, 0.12);
}
