.Scorecard--value {
  font-size: 24px;
  line-height: 32px;
}

.Scorecard--prefix,
.Scorecard--suffix {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.54);
}


.Comparison-type-positive .Comparison--value {
  color: #01579B;
}

.Comparison-type-negative .Comparison--value {
  color: #B71C1C;
}

.Comparison-type-neutral .Comparision--value {
  /*color: inherit;*/
}

.Comparison--label {
  padding-left: 0.4em;
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.54);
}
